<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-brand">
                <div class="header-logo">
                    <a href="index.html">
                        <i class="profession profession-logo"></i>
                        <span class="header-logo-text">共享<span class="header-logo-highlight">.</span>简历</span>
                    </a>
                </div>
                <!-- /.header-logo-->

                <div class="header-slogan">
                    <span class="header-slogan-slash">/</span>
                    <span class="header-slogan-text">共享简历的原创者和领跑者</span>
                </div>
                <!-- /.header-slogan-->
            </div>
            <!-- /.header-brand -->

            <ul class="header-actions nav nav-pills">
                <li><a href="login.html">登录</a></li>
                <li><a href="registration.html">注册</a></li>
                <li><a href="create-resume.html" class="primary">创建简历</a></li>
            </ul>
            <!-- /.header-actions -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header-top -->

    <div class="header-bottom">
        <div class="container">
            <ul class="header-nav nav nav-pills collapse">
                <li class="active">
                    <a href="index.html">首页</a>
                </li>
                <li>
                    <a href="candidates.html">搜索简历</a>
                </li>
                <li>
                    <a href="positions.html">推荐职位</a>
                </li>
                <li>
                    <a href="companies.html">热门公司</a>
                </li>
            </ul>

            <div class="header-search hidden-sm">
                <form method="get" action="search">
                    <input type="text" class="form-control" placeholder="快速搜索简历">
                </form>
            </div>
            <!-- /.header-search -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.header-bottom -->
</div><!-- /.header -->
